.author-social {
    color: #111;
    text-decoration:none
}

.author-social:visited {
    color: #111;
    text-decoration:none
}

.author-social:hover {
    color: #111;
    text-decoration:none
}



.article-author-side {
    display: none
}

