.socials__item__link {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.socials__item__link:hover {
    background-color: rgb(235, 225, 225);
}